/.phpunit.cache
/node_modules
/public/build
/public/hot
/public/storage

/vendor
.env
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode


*.log
*.sqlite
storage/framework/cache/
storage/framework/views/
storage/framework/sessions/
storage/app/blkhole/
storage/app/livewire-tmp/
queue_failed
queue
